<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>edit article</h1>
    <%= render 'errors' %>
    <%= render 'form' %>
    <%= link_to 'Cancel edit and go back to articles list', articles_path %>
  </body>
</html>