<!DOCTYPE html>
<html>
  <head>
    <title>article</title>
  </head>
  <body>
    <h1>Showing article details</h1>
    <p><strong>Title: </strong><%= @article.title %></p>
    <p><strong>Description: </strong><%= @article.description %></p>
    <a href="/articles">go back to articles list</a>
  </body>
</html>