<!DOCTYPE html>
<html>
  <head>
    <title>about ME</title>
  </head>
  <body>
    <h1>Hey this is the about page</h1>
    <p>
      Welcome. On this site you will experience my wonderful lists
    </p>
    <%= link_to 'home page', root_path %>
  </body>
</html>