<!DOCTYPE html>
<html>
  <head>
    <title>Hey</title>
  </head>
  <body>
    <h1>Hey welcome</h1>
    <%= link_to 'articles list', articles_path %>
    <br><br>
    <%= link_to 'about page', about_path %>
  </body>
</html>