<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Joey", "https://joeypm1.github.io", class: "text-white" %></small>
  </div>
</footer>